<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="shortcut icon" type="image/x-icon" href="/images/favicon.png">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <script src="https://cdn.tailwindcss.com"></script>
  <title>Cotist|Upload</title>
</head>
<body class="w-full h-full bg-zinc-900">

  <div class="w-full h-screen text-white px-6 py-6 tracking-tighter">
    <a class="text-blue-600 block mt-3 mb-6" href="/"> go to profile</a>
    <h1 class="mb-3 text-2xl font-bold">Upload your profile picture.</h1>
    <form action="/uploaded" method=POST enctype="multipart/form-data">
      <input type="file" accept="png jpg jpeg webp" name="profilePic" />
      <button class="w-full px-6 py-3 text-md mt-6 bg-blue-500 rounded block">Upload</button>
    </form>
  </div>

  <script src="/javascripts/script.js"></script>
</body>
</html>